.ant-btn:focus,
.ant-btn:hover {
	/* color: red; */
}

/* 滑动条选择器 */

.ant-slider-track {
	background-color: #6ab9be;
}

.ant-slider:hover .ant-slider-track {
	background-color: #6ab9be;
}

.ant-slider:hover .ant-slider-handle {
	border-color: #6ab9be;
}

.ant-slider-handle {
	border-color: #6ab9be;
}

.ant-slider-handle:focus {
	border-color: #6ab9be;
}

.ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open) {
	border-color: #6ab9be;
}

/* 按钮 */

.ant-btn-primary:hover,
.ant-btn-primary:focus {
	background-color: #6ab9be;
	border-color: #6ab9be;
}

.ant-btn-primary {
	background-color: #6ab9be;
	border-color: #6ab9be;
}

.ant-btn-background-ghost.ant-btn-primary {
	border-color: #6ab9be;
	color: #6ab9be;
}

.ant-btn-background-ghost.ant-btn-primary:hover,
.ant-btn-background-ghost.ant-btn-primary:focus {
	border-color: #6ab9be;
	color: #6ab9be;
}

/* 输入框 */
.ant-input:hover {
	border-color: #6ab9be;
}

/* tabs */
.ant-tabs-nav .ant-tabs-tab-active {
	color: #6ab9be;
}
.ant-tabs-nav .ant-tabs-tab:hover {
	color: #6ab9be;
}
.ant-tabs-ink-bar {
	background-color: #6ab9be;
}

/* switch */
.ant-switch-checked {
	background-color: #6ab9be;
}
