#proList {
    flex: 1;

    .am-list {
        height: 100%;
    }

    .itemWrap {
        .item {
            padding: 24px 0;
            display: flex;
            align-items: center;

            .num {
                text-align: center;
                width: 90px;
                color: #7f7f7f;
                font-size: 32px;
            }

            .imgWrap {
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                width: 140px;
                height: 140px;
                background: url(data:image/gif;base64,R0lGODlhEAAQAMQQAObm5uLi4unp6dHR0cnJydfX1+jo6O/v7/Dw8NPT0/39/crKyvr6+uDg4MfHx////////wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQFAAAQACwAAAAAEAAQAAAFXeAjPkiTjGgaLI6Tvs9BtPAIMPH8KgK5DDhZSlFYlFrAGIrYMrUcyRGzdapZr6jE02FAyZ6JxrOrEAVnjgaCRS6IkjLjo9F2PaDBwLJAu+NfAix2LQsAMCVVYQgoIQAh+QQFAAAQACwJAAAABwAHAAAFFGDSIE/5OM7SmKhjsK55vjIt32UIACH5BAUAABAALAoAAwAGAAoAAAUaICQqgggpxYKcheM0qOskZm0/eA7luMibvRAAIfkEBQAAEAAsCQAJAAcABwAABRXgcxBOmTwi6TRouiAoIwbtI9d4/oQAIfkEBQAAEAAsAwAKAAoABgAABRsgJI7MKD6POJQnKjpD60IODKFzvQD3nDQISAgAIfkEBQAAEAAsAAAJAAcABwAABRPgI45kSSrFWTgj6rCisLwk0iQhACH5BAUAABAALAAAAwAHAAoAAAUcIPRAJPmco4mm61m+cJk4tGNATX0ryGK/jVspBAAh+QQFAAAQACwAAAAABwAHAAAFFOAjjmRpPgBDIsugio3juGIiz2oIADs=) no-repeat center;

                .img {
                    width: 140px;
                    height: 140px;
                }
            }

            .box {
                box-sizing: border-box;
                padding: 14px 0;
                margin-left: 24px;
                height: 140px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                color: #333;

                .name {
                    width: 450px;
                }

                .attr {
                    width: 450px;
                    font-size: 12px;
                    color: #999;
                }

                .starWrap {
                    font-size: 12px;
                    color: #999;
                }
            }
        }

        .item+.hr {
            margin-left: 36px;
        }
    }

    .itemWrap:nth-of-type(odd) {
        .imgWrap {
            border-radius: 70px;
        }

    }

    .itemWrap:nth-of-type(even) {
        .imgWrap {
            border-radius: 40px;
        }
    }

    .itemWrap:last-of-type {
        .item+.hr {
            display: none
        }
    }

    .loadingClass {
        text-align: center;
        font-size: 12px;
        color: #999
    }

    .am-list-body::before {
        display: none
    }
}